<p>
  <%= link_to 'New Student', new_student_path %>
</p>

<ul>
    <% @students.each do |student| %>
      <li class="home-blog-post">
                <div class="blog-thumb">
                  <%= link_to(image_tag("/img/"+student.id.to_s+".jpg", :width => 360, :height => 140, :class => "attachment-blog-thumb wp-post-image", :alt => ""), student) %>
                </div>

                <div class="blog-title">
                  <div class="big-comment"><h3><%= link_to student.name, student %>
                 </a></h3></div>
                  <!-- <p class="home-blog-post-meta"><%= student.tagline %></p> -->
                </div>
                <div class="clear"></div>

                <div class="excerpt">
                  <p><%= student.tagline %></p>
                </div>
                <div class="clear"></div>
              </li>
    <% end %>
  </ul>
